.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
//
//.wrapper {
//  width: 988px;
//  height: 100vh;
//  margin: 0 auto;
//}

.app-bg {
  background-image: url("./../public/dogs-bg.jpg");
  background-size: cover;
  background-position: center center;
}

.footer {
  height: 30vh;
  background-image: url("./../public/dog-pink.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.footer:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30vh;
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg, rgba(105,104,115,1) 0%, rgba(207,207,238,0) 0%, rgba(16,16,17,0.4598214285714286) 86%, rgb(25, 25, 28) 100%);
  background-size: cover;
  background-position: center center;

}