$form-range-track-bg: rgba(57, 206, 189, 0.19);
$form-range-track-height: .7rem;
$form-range-thumb-width: 1.5rem;
$form-range-thumb-active-bg:rgba(57, 206, 189, 100);
$form-range-thumb-bg:rgba(42, 158, 158,100);
$form-check-input-checked-color: rgba(204, 202, 202, 0);
$form-check-input-checked-bg-color: rgb(42, 158, 158);
$form-check-input-bg: rgba(219, 252, 255, 0.69);
$info: rgb(42, 158, 158);